#App {
  
  .bg-black {
    background-color: black;
  }

  #total-btn {
    &:hover { border-radius: 30px; }
  }

  #cart.notScrolling {
    transition-duration: 200ms;
    transform: translateY(0%);
  }
    
  #cart.scrolling {
    transition-duration: 200ms;
    transform: translateY(100%);
  }


}